doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RecipeHub
        link(rel="stylesheet", href="/css/style.css")
    body
        nav.navbar
            .container
                a.brand(href="/")
                    img(src="/images/logo.svg", alt="RecipeHub Logo")
                ul.nav-links
                    li: a(href="/") Home
                    li: a(href="/users/my-recipes") My Recipes
                    if user
                        li: a(href=`/users/${user.id}/saved`) Saved Recipes
                .auth-links
                    if user
                        .avatar-dropdown
                            button.avatar-btn
                                .avatar-xs #{user.username.charAt(0).toUpperCase()}
                                span #{user.username}
                            .dropdown-content
                                a(href=`/users/${user.id}`) My Profile
                                a(href=`/users/${user.id}/saved`) Saved Recipes
                                if user.role === 'admin'
                                    a(href="/admin") Admin Panel
                                form.logout-form(method="POST", action="/logout")
                                    button.btn-logout(type="submit") Logout
                    else
                        a.btn-login(href="/login") Login
                        a.btn-register(href="/register") Register
        
        main
            block content
            
        footer
            .container
                .footer-grid
                    .footer-col.footer-brand
                        h4 RecipeHub
                        p Share Knowledge. Reduce Waste.
                    .footer-col
                        h4 Navigation
                        ul
                            li: a(href="/") Home
                            li: a(href="/users/my-recipes") My Recipes
                    .footer-col
                        h4 Community Commitment
                        p We believe in reducing food waste through shared knowledge and community cooking.
            
        block scripts

